/target/
.project
.classpath
.settings
.iml
/.idea/
.idea
/utils.security/utils.security.iml
/utils.managers.api/utils.managers.api.iml
/utilsIP.iml
/utils.languages/utils.languages.iml
/utils.dictionary/utils.dictionary.iml
/utils.connection/utils.connection.iml
/utils.chronometer/utils.chronometer.iml
/utils.business/utils.business.iml
/utils.serviceResults/utils.serviceresults.iml
/utils.ruleset/utils.ruleset.iml
/utils.ruleset/target/
